# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

#### Some of the popular languages that Data Scientists use are:

    1.) Python
    2.) C++
    3.) SQL

#### Some of the commonly used libraries used by Data Scientists include:

    1.) Numpy
    2.) Pandas
    3.) Matplotlib

# **Objectives:
+ Create a markdown cell introducing arithmetic expression examples
+ Learn some of the languages data scientists utilize
+ Learn some of the tools data scienctists utilize

| Data Science Tools |
| ------------ |
| Apache Spark |
| Tensor Flow |
| Tableau |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [4]:
#This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60

In [7]:
200/60

3.3333333333333335

## Author:
Kali Selogic